@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Slab:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Geist", sans-serif;
}

.movieselector {
  padding: 5px 7px 5px 7px;
  margin: 15px;
}

.Seat-selections {
  list-style-type: none;
  background-color:  #413839;
  padding: 10px 12px 10px 12px;
  height: auto;  
  width: auto;
  display: flex;
  gap: 3px;

}

.container {
  margin: 70px 20px;
  perspective: 1000px;
}

.seat {
  height: 12px;
  width: 15px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: brown;
}

.screenrows {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Not-Available {
  display:flex;
  background-color: grey;
  height: 12px;
  width: 15px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: not-allowed; /* to show the user that the seat can not be selected on hover */
}

.Selected {
  background-color: aquamarine;
  height: 12px;
  width: 15px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.seat:not(.Not-Available):hover{
  cursor:pointer;
  transform: scale(1.4);
}

#movie{
    appearance: none;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px); 
    color: white;
    border-radius:7px;
    border:none;
    box-shadow: 0 4px 6px rgba(255,255, 0,0.4);
    padding:8px;
    text-align:center;
    margin: 5px;
    text-style:bold;
    transition: all 1s ease;
}

.screen{
        background-color: #fff;
        height: 70px;
        width: 100%;
        margin: 15px 0;
        transform: rotateX(-45deg);
        box-shadow: 0 3px 10px rgba(255, 255, 255, 0.8); 
        
}
